<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-2"/>
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="Keywords" content="scrapper, api, json"/>
    <meta name="Description" content="Web scrapper"/>
    <meta name="Robots" content="ALL"/>
    <meta name="Author" content="wojciech.spychala@wp.pl"/>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css"/>

    <title>Scrapper</title>
</head>
<body>

<div class="bcg">
    <div id="logo"><h1>ScRappER</h1></div>
    <div id="contener">
        <div class="menu">

            <dl>
                <dt><a href="{% url 'home' %}">Menu</a></dt>
                <dd><img src="{% static 'images/' %}menu.jpg" alt="menu"/>&nbsp;<a href="{% url 'run_scraper' %}">Scrap data</a></dd>
                <dd><img src="{% static 'images/' %}menu.jpg" alt="menu"/>&nbsp;<a href="#">Odnonik 02</a></dd>

            </dl>

        </div>

        <div class="tresc">
            <div class="tytul">Web scrapper and analyser</div>
            <div class="tekst">
                <p>
                    {% block 'content' %}
                    {% endblock %}
                </p>
            </div>
            <div class="data">Dodane dnia: 25.03.2007</div>

        </div>
    </div>
    <div id="footer">
        <div id="copyright">Copyright by SPy</div>
    </div>
</div>

</body>
</html>